body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border-radius: 100%;
  display: flex;
  width: 250px;
  height: 250px;
  background-color: blueviolet;
}
